<div id="homepage" class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
  <!-- Logo cliquable -->
  <%= link_to places_path do %>
    <%= image_tag "pop-corn.png", alt: "PopFiction Logo", class: "mb-4", style: "max-width: 300px;" %>
  <% end %>

  <!-- Texte d'accueil -->
  <h1 class="display-4">Welcome to PopFiction!</h1>
</div>
