<div id="homepage" class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
  <!-- Logo cliquable -->
  <%= link_to places_path do %>
    <%= image_tag "PopFiction.png", alt: "PopFiction Logo", class: "mb-4", style: "max-width: 400px; border-radius: 15px;" %>
  <% end %>

  <!-- Texte d'accueil -->
<h1 class="dream-heading" style="color: #ffffff;">Welcome to your dream house!</h1>
</div>
