/* Styles pour uniformiser les tailles des cartes */
.card-fixed {
  height: 480px; /* Hauteur totale des cartes */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-white {
  color: black;
}

.dream-heading {
  font-family: 'Playfair Display', serif; /* Police élégante */
  font-size: 3rem; /* Taille du texte */
  font-weight: bold; /* Gras */
  color: #ffffff; /* Blanc pur */
  text-align: center; /* Centrer le texte */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère pour la profondeur */
  letter-spacing: 2px; /* Espacement entre les lettres */
  line-height: 1.2; /* Hauteur de ligne ajustée */
  margin-top: 2rem; /* Espace au-dessus */
  margin-bottom: 2rem; /* Espace en dessous */
}



.img-fixed {
  height: 200px; /* Hauteur fixe pour toutes les images */
  object-fit: cover; /* Assure que l'image reste proportionnelle */
  border-radius: 10px 10px 0 0; /* Ajoute un arrondi pour les bords supérieurs */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
  border-radius: 50%; /* Boutons arrondis */
}

.carousel-inner {
  border-radius: 15px; /* Ajoute un arrondi général au carrousel */
}

/* Styles globaux pour les images dans les carrousels */
.img-fluid {
  object-fit: cover; /* Les images remplissent leur conteneur de manière proportionnelle */
  height: 400px; /* Hauteur uniforme pour toutes les images */
  border-radius: 10px; /* Coins arrondis */
}

/* Scoper uniquement les styles pour la page d'accueil */
#homepage {
  height: 100vh; /* 100% de la hauteur de la fenêtre */
  overflow: hidden; /* Empêche le défilement */
  background: radial-gradient(circle, rgba(255,0,132,0.3), rgba(0,0,0,1));
  // background: radial-gradient(circle at top, #1a1a40, #000000);

}

#homepage img {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#homepage img:hover {
  transform: scale(1.1); /* Zoom au survol */
}

#homepage h1 {
  font-family: 'Arial', sans-serif;
  color: #333;
}

#booking-form {
  transition: height 0.3s ease, opacity 0.3s ease;
}

#booking-form.collapse.show {
  opacity: 1;
}

#booking-form.collapse {
  opacity: 0;
}

