<h1>Welcome</h1>
<% @places.each do |place| %>
<div class="cards">
    <div class="card" style="width: 18rem;">
        <div id="carouselIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="https://i.pinimg.com/736x/92/cd/f4/92cdf4cd4d27a3027ccaeb698947b0ed.jpg" class="d-block w-100 card-img-top" alt="exterior">
            </div>
            <div class="carousel-item">
            <img src="https://i.pinimg.com/736x/dd/78/87/dd7887f9f07529524714711c690f9325.jpg" class="d-block w-100 card-img-top" alt="living room">
            </div>
            <div class="carousel-item">
            <img src="https://i.pinimg.com/736x/06/72/d7/0672d7ce62064243a90114fa6faddc29.jpg" class="d-block w-100 card-img-top" alt="kitchen">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>

    <div class="card-body">
        <p class="card-text"><strong> <%= place.address %> </strong></p>
        <p class="card-text"><%= place.user.last_name %></p>
        <p class="card-text"><%= place.price %></p>


<% end %>
 </div>
    </div>
</div>
